<a href="https://colab.research.google.com/github/KARINAgoncalvesSOARES/Pandas/blob/main/como_filtrar_valores_missing_nan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <h2 align="center">Filtrando valores NaN</h2>

Data Scientist Jr.: Karina gonçalves Soares

Link de estudo:

* [Python PANDAS - Como filtrar valores missing (nan)](https://www.youtube.com/watch?v=5KB-N_3sNs0&list=PLEdfCNsWt0gxURVswsV_STMrCo_n7rD5M&index=5&ab_channel=ProgramePython)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dados = [[6.0, np.nan, 15.0 ], [np.nan, 15.0, np.nan], [16.0, 1.0, np.nan], [4.0 ,19.0, 16.0], [16, 8, 10], [12, 9, 11]]

In [ ]:
df = pd.DataFrame(dados, columns=['col1','col2','col3'])
df

   col1  col2  col3
0   6.0   NaN  15.0
1   NaN  15.0   NaN
2  16.0   1.0   NaN
3   4.0  19.0  16.0
4  16.0   8.0  10.0
5  12.0   9.0  11.0

In [ ]:
#.isnull(), etorna apenas as linhas que tem o valor missing(nan)
df[df['col3'].isnull()]

   col1  col2  col3
1   NaN  15.0   NaN
2  16.0   1.0   NaN

In [ ]:
#.notnull(), retorna apenas as linhas que NÃO possuem valor missing(nan)

df[df['col3'].notnull()]

   col1  col2  col3
0   6.0   NaN  15.0
3   4.0  19.0  16.0
4  16.0   8.0  10.0
5  12.0   9.0  11.0

In [ ]:
# o "~" nega a função,no caso dando o mesmo objetivo do notnull.
df[~df['col3'].isnull()]

   col1  col2  col3
0   6.0   NaN  15.0
3   4.0  19.0  16.0
4  16.0   8.0  10.0
5  12.0   9.0  11.0

In [ ]:
#.isna() tem a mesma função e a mesma documentação do .isnull()(retorna as linhas que possuem valor missing)

df[df['col3'].isna()]

   col1  col2  col3
1   NaN  15.0   NaN
2  16.0   1.0   NaN

In [ ]:
#.any() analisa tanto linha quanto coluna  conforme a instrução anterior
#No nosso exemplo a intrução anterior é .isnull()

df[df.isnull().any(axis=1)]

   col1  col2  col3
0   6.0   NaN  15.0
1   NaN  15.0   NaN
2  16.0   1.0   NaN

In [ ]:
# Nessa próxima função eu estou pedindo para o colab imprimir apenas as linhas que possuem mais de um NaN.
# Para que isso aconteça é necessário somar a quantidade de missing que aparecem.

df[df.isnull().sum(axis=1) == 2]

   col1  col2  col3
1   NaN  15.0   NaN