<a href="https://colab.research.google.com/github/KARINAgoncalvesSOARES/Pandas/blob/main/como_selecionar_valor_unico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ## Selecionando um unico valor com pandas
      at and iat

[Python PANDAS - Como selecionar valor único
](https://www.youtube.com/watch?v=sDyqCTr56tw&list=PLEdfCNsWt0gxURVswsV_STMrCo_n7rD5M&index=1&ab_channel=ProgramePython)

In [ ]:
#Semelhante ao índice e corresp excell

In [ ]:
import pandas as pd

In [ ]:
dados = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
df = pd.DataFrame(data=dados,
                  index=['lin1','lin2','lin3'],
                  columns=['col1', 'col2', 'col3'])

In [ ]:
df

      col1  col2  col3
lin1     1     2     3
lin2     4     5     6
lin3     7     8     9

In [ ]:
# Primeira forma:
df['col2']['lin3']

8

In [ ]:
# Segunda forma:
# o legal do .t é que eu posso mudar o valor da coluna utilizando 
#essa propriedade.
df.at['lin2', 'col3']= 7

In [ ]:
df

      col1  col2  col3
lin1     1     2     3
lin2     4     5     7
lin3     7     8     9

In [ ]:
# Terceira forma:
# Utilizamos o "i" antes da função, significa que está proucurando por um número
#Primeiro eu uso a numeração para indicar a linha e depois a coluna(lembrando que o pandas lê o indice a partir o 0(zero) por default)
df.iat[2, 1]

8